USE [master]
GO
/****** Object:  Database [Proyecto_Final]    Script Date: 28/10/2024 1:46:21 ******/
CREATE DATABASE [Proyecto_Final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto_Final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Proyecto_Final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto_Final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Proyecto_Final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto_Final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto_Final]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 28/10/2024 1:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[contraseña] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biblioteca]    Script Date: 28/10/2024 1:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biblioteca](
	[idBiblio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[juegos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idBiblio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juegos]    Script Date: 28/10/2024 1:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juegos](
	[idJuegos] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](100) NULL,
	[genero] [varchar](50) NULL,
	[itiPlus] [int] NULL,
	[precio] [money] NULL,
	[desarrolladora] [varchar](100) NULL,
	[imagenURL] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[idJuegos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membresia]    Script Date: 28/10/2024 1:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membresia](
	[idMembresia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[detalle] [varchar](100) NULL,
	[tipoMembresia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMembresia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiembrosPlus]    Script Date: 28/10/2024 1:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiembrosPlus](
	[idMiembros] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [int] NULL,
	[precioMembresia] [money] NULL,
	[formaPago] [varchar](50) NULL,
	[cantidadJuegosMembresia] [int] NULL,
	[vigencia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMiembros] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMembresia]    Script Date: 28/10/2024 1:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMembresia](
	[idTipoMembresia] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoMembresia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/10/2024 1:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuarios] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](100) NULL,
	[email] [varchar](50) NULL,
	[contraseña] [varchar](100) NULL,
	[miembro] [int] NULL,
	[cantJuegos] [int] NULL,
	[biblioJuegos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([idAdmin], [nombre], [email], [contraseña]) VALUES (1, N'Esteban', N'esteban@yahoo.com.ar', N'123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Juegos] ON 

INSERT [dbo].[Juegos] ([idJuegos], [nombre], [descripcion], [genero], [itiPlus], [precio], [desarrolladora], [imagenURL]) VALUES (1, N'The Witcher 3: Wild Hunt', N'Juego de rol en un mundo abierto lleno de misiones y aventuras', N'RPG', NULL, 39.9900, N'CD Projekt', N'~/lib/Imagenes_Juegos/the-witcher-3.jpg')
INSERT [dbo].[Juegos] ([idJuegos], [nombre], [descripcion], [genero], [itiPlus], [precio], [desarrolladora], [imagenURL]) VALUES (2, N'Cyberpunk 2077', N'Juego de rol y acción ambientado en un futuro distópico', N'RPG', NULL, 49.9900, N'CD Projekt', N'~/lib/Imagenes_Juegos/Cyberpunk2077.jpeg')
INSERT [dbo].[Juegos] ([idJuegos], [nombre], [descripcion], [genero], [itiPlus], [precio], [desarrolladora], [imagenURL]) VALUES (3, N'Minecraft', N'Juego de construcción y aventura en un mundo abierto de bloques', N'Sandbox', NULL, 19.9900, N'Mojang Studios', N'~/lib/Imagenes_Juegos/Minecraft.jpg')
SET IDENTITY_INSERT [dbo].[Juegos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuarios], [nombreUsuario], [email], [contraseña], [miembro], [cantJuegos], [biblioJuegos]) VALUES (4, N'nico', N'nico@gmail.com', N'123', NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([idUsuarios], [nombreUsuario], [email], [contraseña], [miembro], [cantJuegos], [biblioJuegos]) VALUES (8, N'juan', N'juan@gmail.com', N'123', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Biblioteca]  WITH CHECK ADD  CONSTRAINT [biblio_Juego_fk] FOREIGN KEY([juegos])
REFERENCES [dbo].[Juegos] ([idJuegos])
GO
ALTER TABLE [dbo].[Biblioteca] CHECK CONSTRAINT [biblio_Juego_fk]
GO
ALTER TABLE [dbo].[Juegos]  WITH CHECK ADD  CONSTRAINT [Juegos_TipoMemb_FK] FOREIGN KEY([itiPlus])
REFERENCES [dbo].[TipoMembresia] ([idTipoMembresia])
GO
ALTER TABLE [dbo].[Juegos] CHECK CONSTRAINT [Juegos_TipoMemb_FK]
GO
ALTER TABLE [dbo].[MiembrosPlus]  WITH CHECK ADD  CONSTRAINT [Plus_TipoMemb_FK] FOREIGN KEY([tipo])
REFERENCES [dbo].[TipoMembresia] ([idTipoMembresia])
GO
ALTER TABLE [dbo].[MiembrosPlus] CHECK CONSTRAINT [Plus_TipoMemb_FK]
GO
ALTER TABLE [dbo].[TipoMembresia]  WITH CHECK ADD  CONSTRAINT [Tipo_Memb_FK] FOREIGN KEY([tipo])
REFERENCES [dbo].[Membresia] ([idMembresia])
GO
ALTER TABLE [dbo].[TipoMembresia] CHECK CONSTRAINT [Tipo_Memb_FK]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [usu_biblio_fk] FOREIGN KEY([biblioJuegos])
REFERENCES [dbo].[Biblioteca] ([idBiblio])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [usu_biblio_fk]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [Usu_Memb_fk] FOREIGN KEY([miembro])
REFERENCES [dbo].[MiembrosPlus] ([idMiembros])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [Usu_Memb_fk]
GO
USE [master]
GO
