@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null && Model.RequestId != null)
{
    <p>Identificador de solicitud: @Model.RequestId</p>
}
else
{
    <p>Lo sentimos, ha ocurrido un error inesperado.</p>
    <a asp-action="GestionarUsuarios" asp-controller="Home">Pagina principal</a>
}

