@model Proyecto_Final.Models.Usuario

<h2>Editar Usuario</h2>
<button class="btn btn-secondary" onclick="window.history.back();">Volver</button>

@if (Model != null)
{
    <div class="alert alert-info">
        <p><strong>Datos del Usuario Seleccionado:</strong></p>
        <p><strong>ID:</strong> @Model.IdUsuarios</p>
        <p><strong>Nombre de Usuario:</strong> @Model.NombreUsuario</p>
        <p><strong>Email:</strong> @Model.Email</p>
    </div>
}


<form asp-action="Actualizar" asp-controller="Home" method="post">
    <input type="hidden" asp-for="IdUsuarios" />

    <div class="form-group">
        <label asp-for="NombreUsuario"></label>
        <input asp-for="NombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contraseña"></label>
        <input asp-for="Contraseña" type="password" class="form-control" />
        <span asp-validation-for="Contraseña" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

