@{
    ViewData["Title"] = "Home Page";
}
<div class="justify-content-center d-sm-flex">
    <h1>Productos</h1>
</div>

<div class="d-sm-grid gap-3 text-sm-center" 
     style="grid-template-columns: repeat(3, 1fr); margin-top: 20px">

    <div class="box-transform" style="transition: transform 0.3s ease;">
        <a href=" link1.html">
            <img src="./lib/Imagenes_Juegos/cs2.jpg" alt="Counter Strike 2" />
        </a> 
    </div>
    <div class="box-transform">
        <a href="link1.html">
            <img src="./lib/Imagenes_Juegos/WorldOfWarship.jpg" alt="WorldOfWarship" />
        </a>
        
    </div>
    <div class="box-transform">
        <a href="link1.html">
            <img src="./lib/Imagenes_Juegos/WorldOfTanks.jpg" alt="WorldOfTanks" />
        </a>
        
    </div>
    <div class="box">
        <a href="link1.html">
            <img src="./lib/Imagenes_Juegos/War_Thunder.jpg" alt="War_Thunder" />
        </a>
       
    </div>
    <div class="box">
        <a href="link1.html">
            <img src="./lib/Imagenes_Juegos/AOE4.jpg" alt="AOE4" />
        </a>
        
    </div>
    <div class="box">
        <a href="link1.html">
            <img src="./lib/Imagenes_Juegos/AOE3.jpg" alt="AOE3" />
        </a>
        
    </div>
    <div class="box">
        <a href="link1.html">
            <img src="./lib/Imagenes_Juegos/AOE2.jpg" alt="AOE2" />
        </a>
        
    </div>
    <div class="box">
        <a href="link1.html">
            <img src="./lib/Imagenes_Juegos/AOE1.jpg" alt="AOE1" />
        </a>
        
    </div>
</div>

