@{
    ViewData["Title"] = "Home Page";
}
<div class="justify-content-center d-sm-flex" style="margin-top: 5rem">
    <h1>Productos</h1>
</div>
<hr />
<div class="text-sm-center">
    <ul class="navbar-nav d-grid gap-sm-4" style="grid-template-columns: repeat(3, 1fr); margin-top: 4rem;">
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/cs2.jpg" alt="CounterStrike2.jpg" /></a>
            <div class="d-md-flex align-items-sm-start" style="margin-left: 7.5rem;">
                <span>Counter Strike 2</span>
            </div>
            <div class ="d-md-flex align-items-sm-start" style="margin-left: 7.5rem;">
                <span>$20 USD</span>
            </div>
        </li>
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/AOE1.jpg" alt="CounterStrike2.jpg" /></a>
        </li>
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/AOE2.jpg" alt="CounterStrike2.jpg" /></a>
        </li>
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/AOE3.jpg" alt="CounterStrike2.jpg" /></a>
        </li>
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/AOE4.jpg" alt="CounterStrike2.jpg" /></a>
        </li>
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/War_Thunder.jpg" alt="CounterStrike2.jpg" /></a>
        </li>
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/WorldOfTanks.jpg" alt="CounterStrike2.jpg" /></a>
        </li>
        <li>
            <a href="#"><img src="./lib/Imagenes_Juegos/WorldOfWarship.jpg" alt="CounterStrike2.jpg" /></a>
        </li>
    </ul>    
</div>

