@{
    ViewData["Title"] = "Home Page";
}
<div class="justify-content-center d-sm-flex" style="margin-top: 5rem">
    <h1>Productos</h1>
</div>
<hr />
<div class="text-sm-center">
    <ul class="navbar-nav d-grid gap-sm-4" style="grid-template-columns: repeat(3, 1fr); margin-top: 4rem;justify-content: space-between;">
        <li id="hola">
            <a href="@Url.Action("Cs2", "Home")">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/cs2.jpg" alt="CounterStrike2.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>Counter Strike 2</span>
            </div>            
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>FREE TO PLAY</span>
            </div>                
            
        </li>
        <li id="hola">
            <a href="#">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/AOE1.jpg" alt="AgeOfEmpires.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>Age Of Empires</span>
            </div>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>$20 USD</span>
            </div>
        </li>
        <li id="hola">
            <a href="#">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/AOE2.jpg" alt="AgeOfEmpires2.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>Age Of Empires II</span>
            </div>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>$20 USD</span>
            </div>
        </li>
        <li id="hola">
            <a href="#">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/AOE3.jpg" alt="AgeOfEmpires3.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>Age Of Empires III</span>
            </div>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>$20 USD</span>
            </div>
        </li>
        <li id="hola">
            <a href="#">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/AOE4.jpg" alt="AgeOfEmpires4.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>Age Of Empires IV</span>
            </div>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>$20 USD</span>
            </div>
        </li>
        <li id="hola">
            <a href="#">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/War_Thunder.jpg" alt="War_Thunder.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>War Thunder</span>
            </div>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>FREE TO PLAY</span>
            </div>
        </li>
        <li id="hola">
            <a href="#">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/WorldOfTanks.jpg" alt="WorldOfTanks.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>World Of Tanks</span>
            </div>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>FREE TO PLAY</span>
            </div>
        </li>
        <li id="hola">
            <a href="#">
                <div style="display: inline-block">
                    <img src="./lib/Imagenes_Juegos/WorldOfWarship.jpg" alt="WorldOfWarship.jpg" />
                </div>
            </a>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>World Of Warship</span>
            </div>
            <div class="d-lg-flex" style="margin-left: 7.5rem">
                <span>FREE TO PLAY</span>
            </div>
        </li>
    </ul>    
</div>

