@{
    ViewData["Title"] = "Home Page";
}

<h1>Productos</h1>

<div>
    <div>
        <img src="./lib/Imagenes_Juegos/cs2.jpg" alt="Counter Strike 2" />
    </div>
    <div>
        <img src="./lib/Imagenes_Juegos/WorldOfWarship.jpg" alt="Counter Strike 2" />
    </div>
    <div>
        <img src="./lib/Imagenes_Juegos/WorldOfTanks.jpg" alt="Counter Strike 2" />
    </div>
    <div>
        <img src="./lib/Imagenes_Juegos/War_Thunder.jpg" alt="Counter Strike 2" />
    </div>
    <div>
        <img src="./lib/Imagenes_Juegos/AOE4.jpg" alt="Counter Strike 2" />
    </div>
    <div>
        <img src="./lib/Imagenes_Juegos/AOE3.jpg" alt="Counter Strike 2" />
    </div>
    <div>
        <img src="./lib/Imagenes_Juegos/AOE2.jpg" alt="Counter Strike 2" />
    </div>
    <div>
        <img src="./lib/Imagenes_Juegos/AOE1.jpg" alt="Counter Strike 2" />
    </div>
</div>

