@{
    ViewBag.Title = "Nosotros";
}

<h1>
    Introducción
</h1>
<hr />
<span>
    Bienvenidos a nuestro proyecto, un innovador carrito de ventas de juegos, creado por un apasionado equipo de tres integrantes. Nuestra misión es proporcionar una plataforma amigable y eficiente que permita a los usuarios explorar y adquirir sus juegos favoritos de manera sencilla. A medida que el mundo de los videojuegos sigue creciendo, hemos diseñado esta aplicación para facilitar la compra y venta de juegos, brindando una experiencia única y personalizada a nuestros usuarios.
    <br />
    <br />
    Nos hemos esforzado por integrar características que no solo mejoren la navegación y selección de juegos, sino que también garanticen la seguridad y comodidad en cada transacción. Con un enfoque en el cliente y una pasión por los videojuegos, estamos comprometidos en ofrecer un servicio excepcional y de calidad.
    <br />
    <br />
    Agradecemos su interés y esperamos que disfruten de nuestra plataforma tanto como nosotros disfrutamos desarrollándola.
</span>


<h2>Conoce a los Integrantes del Proyecto</h2>
<hr />
<div class="team-container">
    <div class="team-member">
        <img src="~/lib/Imagenes_Icons/Captura de pantalla 2024-10-25 113428.png" alt="Foto de Integrante 1" class="member-photo" style="height:20rem">
        <h3>Leal, Nicolas Gabriel</h3>
        <p>Rol: Desarrollador</p>
        <div class="social-links">
            <a href="https://www.instagram.com/nico_l082" target="_blank">
                <img src="~/lib/Imagenes_Icons/logotipo-de-instagram.png" alt="Instagram" style="width:1.5rem;height:auto" />
            </a>
            <a href="https://www.linkedin.com/in/nicolas-gabriel-leal-9701a0235" target="_blank">
                <img src="~/lib/imagenes_icons/linkedin.png" alt="Linkedin" style="width:1.5rem;height:auto" />
            </a>
            <!-- Otros enlaces de redes si son necesarios -->
        </div>
    </div>

    <div class="team-member">
        <img src="~/lib/Imagenes_Icons/Captura de pantalla 2024-10-27 231148.png" alt="Foto de Integrante 2" class="member-photo" style="height:20rem">
        <h3>Lautaro Gaston Vijande</h3>
        <p>Rol: Analista de datos</p>
        <div class="social-links">
            <a href="https://www.instagram.com/integrante2" target="_blank">
                <img src="~/lib/Imagenes_Icons/logotipo-de-instagram.png" alt="Instagram" style="width:1.5rem;height:auto" />
            </a>
            <a href="https://www.linkedin.com/in/integrante2" target="_blank">
                <img src="~/lib/imagenes_icons/linkedin.png" alt="Linkedin" style="width:1.5rem;height:auto" />
            </a>
        </div>
    </div>

    <div class="team-member">
        <img src="~/images/integrante2.jpg" alt="Foto de Integrante 2" class="member-photo">
        <h3>Alejo Sanchez Pastore</h3>
        <p>Rol: Diseñador</p>
        <div class="social-links">
            <a href="https://www.instagram.com/integrante2" target="_blank">
                <img src="~/lib/Imagenes_Icons/logotipo-de-instagram.png" alt="Instagram" style="width:1.5rem;height:auto" />
            </a>
            <a href="https://www.linkedin.com/in/integrante2" target="_blank">
                <img src="~/lib/imagenes_icons/linkedin.png" alt="Linkedin" style="width:1.5rem;height:auto" />
            </a>
        </div>
    </div>

    <!-- Agrega más integrantes aquí siguiendo la misma estructura -->
</div>