@{
    ViewBag.Title = "Nosotros";
}

<h2>Conoce a los Integrantes del Proyecto</h2>

<div class="team-container">
    <div class="team-member">
        <img src="~/lib/Imagenes_Icons/Captura de pantalla 2024-10-25 113428.png" alt="Foto de Integrante 1" class="member-photo" style="height:20rem">
        <h3>Leal, Nicolas Gabriel</h3>
        <p>Rol: Desarrollador</p>
        <div class="social-links">
            <a href="https://www.instagram.com/nico_l082" target="_blank">
                <img src="~/lib/Imagenes_Icons/logotipo-de-instagram.png" alt="Instagram" style="width:1.5rem;height:auto" />
            </a>
            <a href="https://www.linkedin.com/in/nicolas-gabriel-leal-9701a0235" target="_blank">
                <img src="~/lib/imagenes_icons/linkedin.png" alt="Linkedin" style="width:1.5rem;height:auto" />"
            </a>
            <!-- Otros enlaces de redes si son necesarios -->
        </div>
    </div>

    <div class="team-member">
        <img src="~/images/integrante2.jpg" alt="Foto de Integrante 2" class="member-photo">
        <h3>Nombre del Integrante 2</h3>
        <p>Rol: Diseñador</p>
        <div class="social-links">
            <a href="https://www.instagram.com/integrante2" target="_blank">
                <img src="~/lib/Imagenes_Icons/logotipo-de-instagram.png" alt="Instagram" style="width:1.5rem;height:auto" />
            </a>
            <a href="https://www.linkedin.com/in/integrante2" target="_blank">
                <img src="~/lib/imagenes_icons/linkedin.png" alt="Linkedin" style="width:1.5rem;height:auto" />"
            </a>
        </div>
    </div>

    <div class="team-member">
        <img src="~/images/integrante2.jpg" alt="Foto de Integrante 2" class="member-photo">
        <h3>Nombre del Integrante 3</h3>
        <p>Rol: Diseñador</p>
        <div class="social-links">
            <a href="https://www.instagram.com/integrante2" target="_blank">
                <img src="~/lib/Imagenes_Icons/logotipo-de-instagram.png" alt="Instagram" style="width:1.5rem;height:auto" />
            </a>
            <a href="https://www.linkedin.com/in/integrante2" target="_blank">
                <img src="~/lib/imagenes_icons/linkedin.png" alt="Linkedin" style="width:1.5rem;height:auto" />"
            </a>
        </div>
    </div>

    <!-- Agrega más integrantes aquí siguiendo la misma estructura -->
</div>