@{
    ViewBag.Title = "Soporte";
}

<h2>Contáctanos</h2>
<p>Si tienes alguna duda o necesitas soporte, completa el siguiente formulario y nos pondremos en contacto contigo.</p>

<form method="post" action="@Url.Action("Enviar", "MSG")" class="contact-form">
    <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="Nombre">Nombre/asunto:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>

    <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>



<style>

    
    .contact-form {
        max-width: 500px; 
        margin: 20px auto; 
        padding: 20px; 
        border: 1px solid #ddd;
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background-color: #f3fb8a; 
    }

   
    .form-group {
        margin-bottom: 15px;
    }

    
    .form-group label {
        display: block; 
        margin-bottom: 5px; 
        font-weight: bold; 
        color: #333; 
    }

      
    .form-group input, .form-group textarea {
        width: 100%; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        font-size: 16px; 
        transition: border-color 0.3s; 
    }

           
    .form-group input:focus, .form-group textarea:focus {
        border-color: #007bff; 
        outline: none; 
    }

 
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 15px;
        font-size: 16px; 
        border-radius: 4px;
        cursor: pointer; 
    }

        
    .btn-primary:hover {
        background-color: #0056b3; 
        border-color: #0056b3;
    }

    
    .text-danger {
        color: red; 
        font-size: 14px; 
        margin-top: 5px; 
    }

</style>